ANTHROPIC_BASE_URL=http://127.0.0.1:8005
ANTHROPIC_API_KEY=sk-xxx

ASSISTANT_NAME=Andy

# 容器配置
CONTAINER_RUNTIME=docker  # 或 apple-container
CONTAINER_IMAGE=node:22-slim  # 基础镜像

# 服务配置
PORT=3000
NODE_ENV=production

# 数据库配置（SQLite）
DATABASE_URL=file:./data/nanoclaw.db


# 飞书配置
FEISHU_APP_ID=cli_a9391axxx

FEISHU_APP_SECRET=74UAwxxxx

FEISHU_ENCRYPT_KEY=           # 可选，用于消息加密
FEISHU_VERIFICATION_TOKEN=    # 可选，用于验证
FEISHU_BOT_NAME=NanoClaw助手  # 机器人显示名称

MAX_CONCURRENT_CONTAINERS=10

